* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 2px;
    width: 90rem;
    text-align: center;
    margin: 0;
}
nav a {
    color: white;
    display: block;
    padding: 2px;
    margin: 2px;
}
h1 {
    color: darkblue;
}
img     {
    width: 90rem;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 1rem;
}
p {
    padding: 10px;
}

main {
    width: 90rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2); /* 1 */
    padding: 2px;
    background-color: #eee;
    text-align: center;
}

aside {
    width: 90rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 55px;
    left: 600px;
    color: black;
}
aside img {
    width: 50rem;
    height: auto
}

main img {
    width: 10rem;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

footer {
     width: 90rem;
   margin: 1rem 0;
   border-top: 1px solid #000;
   text-align: center;
   margin: 1rem;
   
}


/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #dddd;
    color: #000;
   }

